<!DOCTYPE html>
<html lang="en" ng-app="BrokerCase">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Super title</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/style.css"/>
</head>

<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
    <div class="container">
            <ul class="nav navbar-nav" ng-show="!loggedIn"> <!-- Hvis brugeren ikke er logget: -->
                <li><a ui-sref="main">Home</a> </li>
                <li><input type="text" ng-model="login.email"></li>
                <li><input type="password" ng-model="login.password"></li>
                <li><button ng-click="logUserIn()">Login</button></li>
                <li> <a ui-sref="signUp">Create User</a></li>
            </ul>

            <ul class="nav navbar-nav" ng-show="loggedIn"><!-- Hvis brugeren er logget ind: -->
                <li><a ui-sref="main">Home</a> </li>
                <li><a ui-sref="editProfile"> Edit Profile </a></li>
                <li><a ng-click="logOut();">Logout;</a></li>
            </ul>
    </div>
</nav>

<body>
    <!--Content: -->
    <div ui-view></div>


    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="app/app.js"></script>

    <!-- Labraries -->
    <script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script> <!-- bruger jeg til at upload billeder-->
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>

    <!-- Controller -->
    <script src="app/signup/signup-controller.js"></script>
    <script src="app/navigation/navigation-controller.js"></script>
    <script src="app/profile/edit-profile-controller.js"></script>
    <script src="app/main/main-controller.js"></script>

</body>
</html>