body
{
    margin-top: 100px;
}

table
{
    width: 100%;
}

td
{
    height:auto;
}

img
{
    width:100%;
    height:auto;
}

.content-des
{
    background-color: rgb(255,255,255);
    width:100%;
    height:100%;
}


.content-new
{
    background-color: rgb(225,225,225);
    width:100%;
    border-color: rgb(225,225,225);
    border-style: solid;
    border-radius: 15px;
    border-width: 25px;
}

.content-newDes
{
    margin-top: 10px;
    min-height: 150px;
}

.content-newImg
{
    clear:both;
}